@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
    background-color: #29132e;
    border: 1vw solid transparent;
    height: 100vh;
    font-family: 'Nunito', sans-serif;

}

#content {
    display: block;
    height: 100%;
    width: 100%;
    border: 0.05vw solid #ff4da6;
    border-radius: 2vw;
    box-shadow: 0px 0px 1vw #ff4da6 ;
}

.glow {
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 0.5vw #fff, 0 0 1vw #fff, 0 0 1.5vw #e60073, 0 0 2vw #e60073, 0 0 2.5vw #e60073, 0 0 3vw #e60073, 0 0 3.5vw #e60073;
    }
    
    to {
      text-shadow: 0 0 1vw #fff, 0 0 1.5vw #ff4da6, 0 0 2vw #ff4da6, 0 0 2.5vw #ff4da6, 0 0 3vw #ff4da6, 0 0 3.5vw #ff4da6, 0 0 4vw #ff4da6;
    }
  }

  @-webkit-keyframes glow-in {
      from {
        text-shadow: 0 0 0;
        color:lightgray;
      }

      to {
          color: white;
        text-shadow: 0 0 1vw #fff, 0 0 1.5vw #ff4da6, 0 0 2vw #ff4da6, 0 0 2.5vw #ff4da6, 0 0 3vw #ff4da6, 0 0 3.5vw #ff4da6, 0 0 4vw #ff4da6;
      }
  }

  @-webkit-keyframes glow-out {
      0% {
        color: white;
        text-shadow: 0 0 1vw #fff, 0 0 1.5vw #ff4da6, 0 0 2vw #ff4da6, 0 0 2.5vw #ff4da6, 0 0 3vw #ff4da6, 0 0 3.5vw #ff4da6, 0 0 4vw #ff4da6;
      }

      100% {
        color: lightgray;
        text-shadow: 0 0 0;
      }
  }

  h1 {
      top: 4vh;
      position: relative;
      text-align: center;
      font-size: 3vw;
      color: white;
      cursor: default;
  }

  .scroll {
      overflow-y: auto;
      position: relative;
      top: 8vh;
      padding: 1vw;
      scroll-behavior: smooth;
      height: 69vh;
      color: white;
      -ms-overflow-style: none;
      scrollbar-width: none; 
      text-align: justify;
  }

  .scroll::-webkit-scrollbar {
    display: none;
  }

  /*reset*/
*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}

#tab-wrapper {
    z-index: 0;
    display: flex;
    justify-content: space-evenly;
}

.tab {
    top: 7vh;
    position: relative;
    text-align: center;
    font-size: 2.5vw;
    color: lightgray;
    -webkit-animation: glow-out 0.5s normal;
}

.tab:hover {
    cursor: pointer;
    color: white;
    -webkit-animation: glow-in 0.5s normal;
    text-shadow: 0 0 1vw #fff, 0 0 1.5vw #ff4da6, 0 0 2vw #ff4da6, 0 0 2.5vw #ff4da6, 0 0 3vw #ff4da6, 0 0 3.5vw #ff4da6, 0 0 4vw #ff4da6;
}

@media only screen and (max-width: 480px) {

  h1 {
    font-size: 5vh;
  }

  .tab {
    top: 7vh; 
    font-size: 3vh;
  }

  .scroll {
    top: 10vh;
    height: 65vh;
  }

  #content {
    border-radius: 5vh;
    border: 0.3vh solid #ff4da6;
    height: 90%;
    box-shadow: 0px 0px 3vh #ff4da6 ;

  }
}